apiVersion: v1
kind: Secret
metadata:
  name: secret-studio
  namespace: {{ oc.project.aidc }}
type: Opaque
stringData:
  auth.config.json: |
    {
      "secret": "aidc-test"
    }
  db.config.json: |
    {
      "dbConfigAidc":
        {
          "dbType": "mongodb",
          {% if mongodb_tls.enabled %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin&ssl=true&tlsCertificateKeyFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fstudio_backend%2Ftls%2Ftls.pem&tlsCAFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fstudio_backend%2Ftls%2Fca.pem",
          {% else %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin",
          {% endif %}
          "key": "key"
        }
    }
  ilm.json: |
    {
        "isSelfSigned": true,
        "countUsers_sch": "*/5 * * * *",
        "ilm_api": "/v2/metric_upload?token=",
        "isIlmConfigFile": false
    }
  kc_config.json: |

  keycloak_front.json: |

  logger.config.json: |
    {
      "level": "debug",
      "transport": {
        "target": "pino-pretty"
      }
    }
