apiVersion: v1
kind: Service
metadata:
  name: aidc-studio
  namespace: {{ oc.project.aidc }}
  labels:
    app.kubernetes.io/name: studio
    app.kubernetes.io/version: "1.0"
    app.kubernetes.io/component: frontend
    app.kubernetes.io/part-of: aidc
spec:
  selector:
    app.kubernetes.io/name: studio
  ports:
    - protocol: TCP
      port: 444
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aidc-studio-deployment
  namespace: {{ oc.project.aidc }}
  labels:
    app.kubernetes.io/name: studio
    app.kubernetes.io/version: "1.0"
    app.kubernetes.io/component: frontend
    app.kubernetes.io/part-of: aidc
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: studio
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: studio
      annotations:
        productID: "0c65e5298a334da99e7ab359cd8ea6a8"
        productName: "IBM AI Decision Coordination - Studio"
        productMetric: "AUTHORIZED_USER"
        productChargedContainers: "All"
    spec:
      securityContext:
        runAsUser: {{ security.containerSecurityContext.runAsUser }}
        runAsGroup: {{ security.podSecurityContext.fsGroup }}
      containers:
        - name: deployment-studio-container
          image: {{ repo.studio_image }}
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "4Gi"
              cpu: "2000m"
          command: ["/bin/sh", "-c"]
          args:
            - /opt/app-root/src/IBMDC/start.sh
          env:
            - name: token_upload
              valueFrom:
                secretKeyRef:
                  name: ibm-licensing-upload-token
                  key: token-upload
            - name: ilm_url
              valueFrom:
                configMapKeyRef:
                  name: ibm-licensing-upload-config
                  key: url
          volumeMounts:
            - name: secret-volume
              mountPath: /opt/app-root/src/IBMDC/studio_backend/secret_config
            - name: mongo-tls
              mountPath: /opt/app-root/src/IBMDC/studio_backend/tls
      volumes:
        - name: secret-volume
          secret:
            secretName: secret-studio
        - name: mongo-tls
          secret:
            secretName: aidc-mongodb-client-tls
      restartPolicy: Always
