apiVersion: v1
kind: Secret
metadata:
  name: secret-dispatch
  namespace: {{ oc.project.aidc }}
type: Opaque
stringData:
  config.json: |
    {
      "configAidcDispatch": {
        "name": "dispatchOC",
        "domain": "domainOC",
        "techDatabase": {
          "dbType": "mongodb",
          {% if mongodb_tls.enabled %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin&ssl=true&tlsCertificateKeyFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Ftls.pem&tlsCAFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Fca.pem",
          {% else %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin",
          {% endif %}
          "key": "keytech"
        },
        "countDatabase": {
          "dbType": "mongodb",
          {% if mongodb_tls.enabled %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin&ssl=true&tlsCertificateKeyFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Ftls.pem&tlsCAFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Fca.pem",
          {% else %}
          "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin",
          {% endif %}
          "key": "keycount"
        }
      }
    }
  func_db.json: |
    {
      "funcConfigAidcDispatch": []
    }
  ilm.json: |
    {
      "isSelfSigned": true,
      "consolidateCounts_sch": "*/5 * * * *",
      "logCounts_sch": "*/10 * * * *",
      "ilm_api": "/v2/metric_upload?token=",
      "isIlmConfigFile": false
    }
  kc_config.json: |

  logger.config.json: |
    {
      "level": "debug",
      "transport": {
        "target": "pino-pretty"
      }
    }
  session_config.json: |
    {
        "secret": "mysecret",
        "resave": false,
        "saveUninitialized": true
    }
  tech_db.json: |
    {
      "techConfigAidcDispatch": [
        {
          "name": "dispatchOC",
          "domain": "domainOC",
          "functDatabase": {
            "dbType": "mongodb",
            {% if mongodb_tls.enabled %}
            "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin&ssl=true&tlsCertificateKeyFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Ftls.pem&tlsCAFile=%2Fopt%2Fapp-root%2Fsrc%2FIBMDC%2Fdispatch%2Ftls%2Fca.pem",
            {% else %}
            "endpoint": "mongodb://{{ mongodb_auth.rootUser }}:{{ mongodb_auth.rootPassword }}@{{ mongodb.host }}.{{ oc.project.aidc }}.svc.cluster.local:{{ mongodb.port }}/?authSource=admin",
            {% endif %}
            "key": "keyfunct"
          }
        }
      ]
    }
