apiVersion: v1
kind: Service
metadata:
  name: aidc-dispatch
  namespace: {{ oc.project.aidc }}
  labels:
    app.kubernetes.io/name: dispatch
    app.kubernetes.io/version: "1.0"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: aidc
spec:
  selector:
    app.kubernetes.io/name: dispatch
  ports:
    - protocol: TCP
      port: 444
      targetPort: 8083
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aidc-dispatch-deployment
  namespace: {{ oc.project.aidc }}
  labels:
    app.kubernetes.io/name: dispatch
    app.kubernetes.io/version: "1.0"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: aidc
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: dispatch
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dispatch
      annotations:
        productID: "26d8bd235aa54a9d8e85578c6719f0dd"
        productName: "IBM AI Decision Coordination - Dispatch"
        productMetric: "MONTHLY_API_CALL"
        productChargedContainers: "All"
    spec:
      securityContext:
        runAsUser: {{ security.containerSecurityContext.runAsUser }}
        runAsGroup: {{ security.podSecurityContext.fsGroup }}
      containers:
        - name: deployment-dispatch-container
          image: {{ repo.dispatch_image }}
          ports:
            - containerPort: 8083
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "16Gi"
              cpu: "4000m"
          command: ["/bin/sh", "-c"]
          args:
            - /opt/app-root/src/IBMDC/start.sh
          env:
            - name: token_upload
              valueFrom:
                secretKeyRef:
                  name: ibm-licensing-upload-token
                  key: token-upload
            - name: ilm_url
              valueFrom:
                configMapKeyRef:
                  name: ibm-licensing-upload-config
                  key: url
          volumeMounts:
            - name: secret-volume
              mountPath: /opt/app-root/src/IBMDC/dispatch/secret_config
            - name: mongo-tls
              mountPath: /opt/app-root/src/IBMDC/dispatch/tls
      volumes:
        - name: secret-volume
          secret:
            secretName: secret-dispatch
        - name: mongo-tls
          secret:
            secretName: aidc-mongodb-client-tls
      restartPolicy: Always
