apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: aidc-licensing-request
  namespace: {{ oc.project.aidc }}
spec:
  requests:
  - operands:
      - name: ibm-licensing-operator
        bindings:
          public-api-upload:
            secret: ibm-licensing-upload-token
            configmap: ibm-licensing-upload-config
          public-api-data:
            configmap: ibm-licensing-info
    registry: common-service
    registryNamespace: ibm-common-services
    description: "Requesting the Licensing Service"
