image:
  registry: {{ keycloak_image.registry }}
  repository: {{ keycloak_image.repository }}
  tag: {{ keycloak_image.tag }}

auth:
  adminUser: {{ keycloak_auth.adminUser }}
  adminPassword: {{ keycloak_auth.adminPassword }}

postgresql:
  enabled: false
externalDatabase:
  host: {{ keycloak_db.host }}
  port: {{ keycloak_db.port }}
  user: {{ keycloak_db.user }}
  password: {{ keycloak_db.password }}
  database: {{ keycloak_db.database }}

{% if security.podSecurityContext.enabled %}
podSecurityContext:
  enabled: true
  fsGroup: {{ security.podSecurityContext.fsGroup }}
{% endif %}
{% if security.containerSecurityContext.enabled %}
containerSecurityContext:
  enabled: true
  runAsUser: {{ security.containerSecurityContext.runAsUser }}
  runAsNonRoot: true
{% endif %}

{% if keycloak_tls.enabled %}
production: true

tls:
  enabled: true
  usePem: true
  existingSecret: {{ keycloak_tls.existingSecret }}
  keystorePassword: {{ keycloak_tls.keystorePassword }}
  truststorePassword: {{ keycloak_tls.truststorePassword }}
{% endif %}

