apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: aidc-keycloak
  namespace: {{ oc.project.aidc }}
spec:
  port:
{% if keycloak_tls.enabled %}
    targetPort: https
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
{% else %}
    targetPort: http
{% endif %}
  to:
    kind: Service
    name: aidc-keycloak
